<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>AsafMySlave</name>
  <description></description>
  <remoteFS>C:\Users\JackSparrow\Desktop</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.22">
    <host>172.28.3.62</host>
    <port>22</port>
    <credentialsId>e399b59b-c693-4547-b8e0-550a3ee7378d</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>